
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Slot Unavailable</title>
    <link rel="stylesheet" href="/css/style.css">

    <div class="topnav">
        <!--  nav bar  -->
          <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <a>
                <img src="https://www.una.edu/brand/images/logo/round/UNA-roundLionPurpleW.png.pagespeed.ce.sooHu-qo8w.png" onclick="location.href = 'https:/una.edu/'" alt="buttonpng" height = "30" width = "30" background-color="black" />
                </a>
                    <a class="nav-link" onclick="location.href='/index'">Home</a>
                    <a class="nav-link" onclick="location.href='/login'">Login</a>
                    <a class="nav-link" onclick="location.href='/register'">Register</a>
                    <a class="nav-link" onclick="location.href='/manage-bookings'" class="manage-bookings-btn">Manage My Bookings</a>
                    <a class="nav-link" href="https://github.com/LoganBeckman21/congenial-barnacle-Group4/blob/main/README.md">About</a>
                    
            </div>

</head>
<body>
    <div class="booking-container">
        <h1>Booking Unavailable</h1>
        <p>Sorry, the selected time slot for <%= course %> on <%= selectedTime %> is already taken.</p>
        <button onclick="window.location.href='/schedule'">Choose Another Slot</button>
    </div>
</body>
<footer class="container-fluid text-center">
    <p>Office Hour Application Group 4 - Cumbie © 2024</p>
  </footer>

</html>
