<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Booking Confirmation</title>
    <link rel="stylesheet" href="/css/style.css">

    <div class="topnav">
        <!--  nav bar  -->
          <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                    
                    <a class="nav-link" onclick="location.href='/index'">Home</a>
                    <a class="nav-link" onclick="location.href='/login'">Login</a>
                    <a class="nav-link" onclick="location.href='/register'">Register</a>
                    <a class="nav-link" onclick="location.href='/manage-bookings'" class="manage-bookings-btn">Manage My Bookings</a>
                    <a class="nav-link" href="https://github.com/LoganBeckman21/congenial-barnacle-Group4/blob/main/README.md">About</a>
                    
            </div>


</head>
<body>
    <div class="confirmation-container">
        <h1>Booking Confirmation</h1>
        <p>Thank you, <%= booking.name %>. Your booking for the course <%= booking.course %> is confirmed for:</p>
        <p>Time: <%= booking.selectedTime %></p>
        <p>Reason: <%= booking.reason %></p>
        <button onclick="window.location.href='/'" class="go-back-btn">Go Back</button>
    </div>
</body>

<footer class="container-fluid text-center">
    <p>Office Hour Application Group 4 - Cumbie © 2024</p>
  </footer>
</html>
