<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Dr. Cumbies Office Hours!</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Select a Class to View Its Schedule</h1>
        <form action="/schedule" method="get" class="form-select">
            <select name="course" class="select-class">
                <option value="CIS376">CIS 376</option>
                <option value="CIS486">CIS 486</option>
            </select>
            <button type="submit" class="btn-view">View Schedule</button>
        </form>
    </div>
</body>
</html>
